<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../../style/output.css" rel="stylesheet" />
    <meta title="Portefolio Thibault PERONNO" />
    <meta
      description="Retrouvez mon travail de concepteur et développeur d'application. Je présente des projets qui me servent a progresser dans ma connaissance des bonnes pratiques et des languages que j'apprécie. Ceci me permet de rester à l'écoute des évolutions. Et ainsi rester compétitif."
    />
  </head>
  <body class="px-2 lg:px-dpc 2xl:px-vpc flex flex-col min-h-screen">
    <header>
      <ul
        class="flex flex-col gap-2.5 sm:flex-row sm:justify-end sm:my-5 sm:py-5"
      >
        <li>Accueil</li>
        <li>Projets</li>
        <li>Technologies</li>
        <li>CV</li>
        <li>Administration</li>
      </ul>
    </header>
    <main class="grow">
      <h1
        class="text-3xl text-secondary mb-5 bg-primary text-secondary uppercase font-bold p-2.5 my-5 sm:w-[30%] sm:mt-12"
      >
        Title
      </h1>
      <span class="flex flex-wrap">
        <p class="my-2 sm:w-6/12">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem
          tempora aut et, nesciunt, dolore, debitis deserunt expedita officia ad
          nam quos qui minima consequuntur illo quasi odio cumque. Voluptatem,
          tenetur.
        </p>
        <div class="flex justify-center gap-5 my-10 sm:w-6/12 sm:mt-0">
          <span class="flex flex-col content-center">
            <img
              src="../../public/assets/images/icons/react_mono.png"
              alt=""
              class="w-28"
            />
            <p class="text-center rounded-full bg-secondary text-white px-2.5 text-sm">React</p>
          </span>
          <span class="flex flex-col ">
            <img
              src="../../public/assets/images/icons/javascript_mono.svg"
              alt=""
              class="w-28"
            />
            <p class="text-center rounded-full bg-secondary text-white px-2.5 text-sm">Javascript</p>
          </span>
          <span class="flex flex-col ">
            <img
              src="../../public/assets/images/icons/docker_mono.svg"
              alt=""
              class="w-28"
            />
            <p class="text-center rounded-full bg-secondary text-white px-2.5 text-sm">Docker</p>
          </span>
        </div>
      </span>
      <button
        class="bg-btn-sec rounded flex p-2.5 items-center mt-3 w-full sm:w-64"
      >
      <img
        src="../../public/assets/images/icons/online.svg"
        alt=""
        class="pr-2"
      />
        <p class="text-white">Projet en ligne</p>
      </button>
      <img src="../../public/assets/images/img_project.png" alt="image du projet" class="mt-2.5">
    </main>
    <footer class="border-secondary border-t-2 mt-10 mb-2.5 pt-1">
      <p class="text-center">Portefolio Thibault PERONNO</p>
      <div class="flex justify-center">
        <img src="../../public/assets/images/icons/linkedin.svg" alt="" />
        <img src="../../public/assets/images/icons/github.svg" alt="" />
      </div>
    </footer>
  </body>
</html>
