<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../../style/output.css" rel="stylesheet" />
    <meta title="Portefolio Thibault PERONNO" />
    <meta
      description="Retrouvez mon travail de concepteur et développeur d'application. Je présente des projets qui me servent a progresser dans ma connaissance des bonnes pratiques et des languages que j'apprécie. Ceci me permet de rester à l'écoute des évolutions. Et ainsi rester compétitif."
    />
  </head>
  <body class="px-2 sm:px-vpc">
    <header>
      <ul class="flex flex-col gap-2.5 sm:flex-row sm:justify-end	 sm:my-5 sm:py-5">
        <li>Accueil</li>
        <li>Projets</li>
        <li>Technologies</li>
        <li>CV</li>
        <li>Administration</li>
      </ul>
    </header>
    <main>
Projets

    </main>
    <footer class="border-secondary border-t-2 my-3 pt-1">
      <p class="text-center	">Portefolio Thibault PERONNO</p>
      <div class="flex justify-center">
        <img src="../../public/assets/images/icons/linkedin.svg" alt="">
        <img src="../../public/assets/images/icons/github.svg" alt="">
      </div>
    </footer>
  </body>
</html>